streamlit>=1.30.0

numpy
pandas

scikit-learn
joblib

transformers
sentence-transformers
torch
tensorflow

librosa
soundfile

opencv-python-headless
Pillow

spotipy
python-dotenv

SpeechRecognition
pydub

tqdm